{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/electives.css' %}" rel="stylesheet">
</head>
<body>
    <div class="card-container">
     
        <div class="card">
            <div class="card-details">
                <p class="text-title">Card 1</p>
                <p class="text-body">Details of Card 1</p>
            </div>
            <button class="card-button">More info</button>
        </div>
        {% if allocated_file_url %}
        <p>Allocation successful! Download the CSV file:</p>
        <a href="{{ allocated_file_url }}" download>Download Allocated Students</a>
    {% endif %}
        
</body>
</html>
